@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

body {
  background: #fbf8ec;
}

a {
  text-decoration: none;
  color: #fff;
}

.header {
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 30px;
}
.header .wrapper .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .wrapper .btn button {
  padding: 13px;
  color: var(--main-on-secondary, #FFF);
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: #70C05B;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.header .wrapper .btn button::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("/icons/menu.svg");
  background-size: cover;
  margin-right: 10px;
  vertical-align: middle;
}
.header .wrapper .poisk input[type=text] {
  max-width: 347px;
  box-sizing: border-box;
  border: 2px solid #70C05B;
  border-radius: 4px;
  background-color: white;
  background-image: url("/icons/search.svg");
  background-position: 290px 10px;
  background-repeat: no-repeat;
  padding: 12px 100px 12px 20px;
  color: var(--grayscale-hard, #8F8F8F);
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;
  line-height: 150%;
}
.header .wrapper .icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .wrapper .icons p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header .wrapper .icons .heart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.header .wrapper .icons .prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.header .wrapper .icons .korz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.header .wrapper .icons .korz .cart {
  position: absolute;
  top: 4px;
  right: 393px;
  border-radius: 4px;
  background: var(--main-primary, #F63);
  padding: 1px 2px;
  color: var(--main-on-primary, #FFF);
}
.header .wrapper .avatar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .wrapper .avatar p {
  color: var(--on-surface, #232323);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header .categori-menu {
  display: none;
  position: absolute;
  width: 1429px;
  padding: 40px 116px;
  background-color: #fff;
}
.header .categori-menu a {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  cursor: pointer;
  transition: all 0.3s linear;
}
.header .categori-menu a:hover {
  color: #FF6633;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
}

.products-header {
  margin-top: 75px;
}
.products-header h1 {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.search-input {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 2px solid #70C05B;
}

.products-row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  margin-top: 10px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 60px;
}
.pagination .page-item {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: all 0.5s linear;
  cursor: pointer;
}
.pagination .page-item:hover {
  background-color: #dbc5bd;
}

.page-active {
  background-color: #FF6633;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 4px;
  background: var(--main-surface, #FFF);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.product-card .product-card-body {
  padding: 8px;
  width: 100%;
}
.product-card .product-card-body h3 {
  margin-top: 8px;
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.product-card .product-card-footer {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-card .product-card-footer h3 {
  margin-top: 8px;
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.product-card .product-card-footer h4 a {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.product-card .product-card-footer p {
  color: var(--grayscale-hardest, #606060);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.product-card .product-card-footer h3 a {
  color: #414141;
}
.product-card .product-card-footer button {
  width: 256px;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #70C05B;
  border-radius: 4px;
  color: #70C05B;
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.5s linear;
  cursor: pointer;
}
.product-card .product-card-footer button:hover {
  background-color: #FF6633;
  color: #fff;
}
.product-card .product-card-footer .active-cart {
  background-color: #FF6633;
  color: #fff;
}

.danger {
  color: #FF6633;
  font-family: Rubik;
  font-size: 25px;
}

.footer {
  margin-top: 80px;
  background-image: url("/Images/png/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.footer .footer_wrap {
  padding: 10px;
}
.footer .footer_wrap .social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.footer .footer_wrap .social .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.footer .footer_wrap .social .info .info1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.footer .footer_wrap .social .info .info1 p {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_wrap .social .social1 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer .footer_wrap .social .social1 p {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_wrap .design {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}/*# sourceMappingURL=all-products.css.map */