@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fbf8ec;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.header .wrapper .logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .wrapper .btn button {
  padding: 8px;
  color: var(--main-on-secondary, #FFF);
  text-align: center;
  font-family: "Rubik";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  background-color: #70C05B;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-radius: 4px;
}
.header .wrapper .btn button::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url("/assets/icons/menu.svg");
  background-size: cover;
  margin-right: 10px;
  vertical-align: middle;
}
.header .wrapper .poisk input[type=text] {
  max-width: 375px;
  box-sizing: border-box;
  border: 2px solid #70C05B;
  border-radius: 4px;
  background-color: white;
  background-image: url("/assets/icons/search.svg");
  background-position: 340px 10px;
  background-repeat: no-repeat;
  padding: 8px 175px 8px 20px;
  color: var(--grayscale-hard, #8F8F8F);
  font-size: 16px;
  font-family: Rubik;
  font-weight: 400;
  line-height: 150%;
}
.header .wrapper .icons {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header .wrapper .icons p {
  color: var(--main-on-surface, #414141);
  text-align: center;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.header .wrapper .icons .heart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.header .wrapper .icons .prod {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.header .wrapper .icons .korz {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}
.header .wrapper .avatar {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header .wrapper .avatar p {
  color: var(--on-surface, #232323);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
}

.page {
  margin-top: 100px;
}
.page .page_1 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.page .page_1 p {
  color: #414141;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.page .page_1 span {
  color: #8F8F8F;
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.page .h1 {
  margin-top: 24px;
}
.page .h1 h1 {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.section1 {
  margin-top: 60px;
}
.section1 .wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}
.section1 .wrapper .wrap_1 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.section1 .wrapper .wrap_1 .eggs {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/breakfast.png");
  background-repeat: no-repeat;
  width: 584px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_1 .eggs p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_1 .bread {
  background: linear-gradient(180deg, rgba(255, 102, 51, 0) 0%, #F63 100%), url("/assets/Images/bread.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_1 .bread p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_1 .vega {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/vegetables.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_1 .vega p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_2 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.section1 .wrapper .wrap_2 .ice {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/ice-vege.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_2 .ice p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_2 .drink {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/drinks.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_2 .drink p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_2 .sweets {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/sweets.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_2 .sweets p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_2 .coffee {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/coffee.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_2 .coffee p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_3 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.section1 .wrapper .wrap_3 .makaron {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/makaron.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_3 .makaron p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_3 .mix {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/mix.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_3 .mix p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_3 .animals {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/animals.png");
  background-repeat: no-repeat;
  width: 584px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_3 .animals p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_4 {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.section1 .wrapper .wrap_4 .kid {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/kid.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_4 .kid p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_4 .sosages {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/sosage.png");
  background-repeat: no-repeat;
  width: 584px;
  padding: 163px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_4 .sosages p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.section1 .wrapper .wrap_4 .cleaning {
  background: linear-gradient(180deg, rgba(112, 192, 91, 0) 40%, #70C05B 82.81%), url("/assets/Images/cleaning.png");
  background-repeat: no-repeat;
  width: 272px;
  padding: 136px 10px 10px 10px;
  border-radius: 4px;
  box-shadow: 1px 2px 4px 0px rgba(112, 192, 91, 0.2);
}
.section1 .wrapper .wrap_4 .cleaning p {
  color: var(--main-on-secondary, #FFF);
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.footer {
  margin-top: 80px;
  background-image: url("/assets/Images/footer-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.footer .footer_wrap .social {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.footer .footer_wrap .social .info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.footer .footer_wrap .social .info .info1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
}
.footer .footer_wrap .social .info .info1 p {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  transition: all 0.5s linear;
}
.footer .footer_wrap .social .info .info1 p:hover {
  color: #F63;
}
.footer .footer_wrap .social .social1 {
  display: flex;
  align-items: center;
  gap: 16px;
}
.footer .footer_wrap .social .social1 p {
  color: var(--main-on-surface, #414141);
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.footer .footer_wrap .design {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.footer_header {
  display: none;
}

@media (max-width: 1230px) {
  .header .wrapper {
    gap: 10px;
  }
  .header .wrapper img:nth-child(6) {
    display: none;
  }
  .header .wrapper .poisk input input[type=text] {
    max-width: 300px;
    box-sizing: border-box;
    border: 2px solid #70C05B;
    border-radius: 4px;
    background-color: white;
    background-image: url("/assets/icons/search.svg");
    background-position: 290px 10px;
    background-repeat: no-repeat;
    padding: 12px 100px 12px 20px;
    color: var(--grayscale-hard, #8F8F8F);
    font-size: 16px;
    font-family: Rubik;
    font-weight: 400;
    line-height: 150%;
  }
  .section1 .wrapper .wrap_1 {
    width: 100%;
  }
  .section1 .wrapper .wrap_2 {
    width: 100%;
  }
  .section1 .wrapper .wrap_2 .ice {
    padding: 140px 10px 10px 10px;
  }
  .section1 .wrapper .wrap_2 .sweets {
    padding: 140px 10px 10px 10px;
  }
  .section1 .wrapper .wrap_3 {
    width: 100%;
  }
  .section1 .wrapper .wrap_4 {
    width: 100%;
  }
}
@media (max-width: 1065px) {
  .header .wrapper .avatar p {
    display: none;
  }
}
@media (max-width: 990px) {
  .header .wrapper .logo a:nth-child(2) {
    display: none;
  }
  .header .wrapper .btn a {
    display: none;
  }
  .header .wrapper .btn button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/menu.svg");
    background-size: cover;
    vertical-align: middle;
  }
  .section1 .wrapper .wrap_1 {
    display: flex;
    flex-wrap: wrap;
  }
  .section1 .wrapper .wrap_2 {
    display: flex;
    flex-wrap: wrap;
  }
  .section1 .wrapper .wrap_3 {
    display: flex;
    flex-wrap: wrap;
  }
  .section1 .wrapper .wrap_4 {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 785px) {
  .header .wrapper .poisk input[type=text] {
    max-width: 200px;
    box-sizing: border-box;
    border: 2px solid #70C05B;
    border-radius: 4px;
    background-color: white;
    background-image: url("/assets/icons/search.svg");
    background-position: 160px 10px;
    background-repeat: no-repeat;
    padding: 8px 75px 8px 20px;
    color: var(--grayscale-hard, #8F8F8F);
    font-size: 16px;
    font-family: Rubik;
    font-weight: 400;
    line-height: 150%;
  }
  .header .wrapper .btn button {
    padding: 8px;
    color: var(--main-on-secondary, #FFF);
    text-align: center;
    font-family: "Rubik";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    background-color: #70C05B;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-radius: 4px;
  }
  .header .wrapper .btn button::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url("/assets/icons/menu.svg");
    background-size: cover;
    vertical-align: middle;
  }
  .header {
    background-color: #fff;
    position: fixed;
    z-index: 10;
    width: 100%;
    top: 0;
  }
}
@media (max-width: 615px) {
  .header .wrapper .btn {
    display: none;
  }
  .header .wrapper .avatar {
    display: none;
  }
}
@media (max-width: 360px) {
  .header .wrapper .icons {
    display: none;
  }
  .header .wrapper .poisk input {
    width: 200px;
  }
  .footer_header {
    display: block;
  }
  .footer_header .footer_head {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer_header .footer_head .kata {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .footer_header .footer_head .izb {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .footer_header .footer_head .zakaz {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .footer_header .footer_head .sava {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  .footer_header .footer_head p {
    color: var(--main-on-surface, #414141);
    text-align: center;
    font-family: Rubik;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .footer_header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 5;
    bottom: 0;
  }
}/*# sourceMappingURL=categorie.css.map */